.TaskItem {
  background-color: #a9e5f1;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  margin: 0 auto;
  max-width: 600px;
  font-size: 10px;
  text-align: left;
  margin-bottom: 20px;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  padding: 20px;
}

h1 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px;
}

form {
  background-color: #eebcee;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  margin: 0 auto;
  max-width: 600px;
}

input[type=text], textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  text-align: left;
}

input[type=date], textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

button[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

button {
  background-color: #ef6056;
  color: white;
  padding: 6px 10px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  float: left;
}

button:hover {
  background-color: #e04609;
}

button[type=submit]:hover {
  background-color: #45a049;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: left;
}

.required:after {
  content: " *";
  color: red;
}

.error {
  color: red;
  margin-top: 5px;
}

.success {
  color: green;
  margin-top: 5px;
}

