.TaskItem {
  background-color: #a9e5f1;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  margin: 0 auto;
  max-width: 600px;
  font-size: 10px;
  text-align: left;
  margin-bottom: 20px;
}


